body {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: black;
    color: black;
    border: black;
}
 .navbar a {
    color: #0047b3;
}


.header-image {
    display: block;
    width: 100%;
    min-height: 100%;
    text-align: center;
    background: rgba(255,93,177,.5);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,93,177,1)), color-stop(100%, rgba(85,3,237,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,93,177,1) 0%, rgba(85,3,237,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,93,177,1) 0%, rgba(85,3,237,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,93,177,1) 0%, rgba(85,3,237,1) 100%);
    background: linear-gradient(135deg, rgba(255,93,177,1) 0%, rgba(85,3,237,1) 100%);
    background: black;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#5503ed', GradientType=1 );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;

}

.main-content {
    background: white;
}

#ra {
    position: absolute;
    max-height: 75%;
    width: auto;
    height: auto;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.arrow-down {
    width: 20%;
    position:absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.3s; 
    -moz-transition: opacity 0.3s; 
    -ms-transition: opacity 0.3s; 
    -o-transition: opacity 0.3s; 
    transition: opacity 0.3s;
}

.arrow-down.top:hover {
    opacity:100;
}

.arrow-down.bottom:hover {
    opacity: 0;
}

.top {
    width: 19.5%;
    margin-top: -.69%;
    z-index: 0;
    opacity: 0;
}


.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 130px;
    color: #ffffff;
    font-family: 'Pacifico', cursive;
}

.headline h2 {
    font-size: 77px;
    color: #fff;
    margin-top: -100px;
}

.headline h3 {
    font-size: 25px;
    color: #fff;
}

#unt {
    color: #00853E;
    font-style: italic;
    font-size: .9em;
}

#su {
    color: #AA0000;
    font-style: italic;
    font-size: .9em;
}

#about h2 {
    font-family: 'Pacifico', cursive;
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}

textarea { resize: vertical; }

hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    /*color: #0047b3; /* old IE */
    /*background-color: #0047b3; /* Modern Browsers */
    color: black;
    background-color: black;
}

.img-centered {
  margin: 0 auto;
}

footer {
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding: 50px 15px;
    color: white;
    margin-top: 50px;

}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

a.svg:after {
    content: "";
    position: absolute;
}

.text-center {
    text-align: center;
}

#linkedin {
    padding-right: 20px;
}

#email a, #icons a{
  color: black;
}

#icons a{
  padding: 20px;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 125px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .headline h3 {
        font-size: 20px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .headline h3 {
        font-size: 17px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }

    #down {
        transform: translate(-50%, 120%);
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
    #down {
        transform: translate(-50%, 130%);
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .headline h3 {
        font-size: 15px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
    #down {
        transform: translate(-50%, 140%);
    }

}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
    #down {
        transform: translate(-50%, 150%);
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
    #down {
        transform: translate(-50%, 160%);
    }
}