@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300&display=swap'); */

html, body {
	overflow: hidden;
}

* {
	box-sizing: border-box;
}
:root {
	--background: white;
	--primary: #ff1ead;
	--secondary: #1effc3;
	--card-size: 300px;
}
body {
	height: 100%;
	margin: 0;
	display: grid;
	place-items: center;
	padding: 1rem;
	background: var(--background);
	font-family: 'Source Code Pro', monospace;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card {
	/* width: 100%; */
	max-width: calc(100% - 2rem);
	min-height: var(--card-size);
	border-radius: 0.75rem;
	box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
	background: #1a1a1a;
	display: grid;
	grid-template-columns: 100%;
	color: white;
	align-items: center;
	will-change: transform;
	transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card:hover {
	/* transform: scale(1.1); */
	box-shadow: 0 32px 80px 14px rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.3);
}
.card-details {
	padding: 1rem;
}
.name {
	font-size: 1.25rem;
}
.occupation {
	font-weight: 600;
	color: var(--primary);
}
.card-avatar {
	display: grid;
}
svg {
	fill: white;
	width: 65%;
}
.card-about {
	margin-top: 1rem;
	display: grid;
	grid-auto-flow: column;
}
.item {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5rem;
}
.item .value {
	font-size: 1rem;
}
.item .label {
	margin-top: 0.15rem;
	font-size: 0.75rem;
	font-weight: 600;
	color: var(--primary);
}
.skills {
	display: flex;
	flex-direction: column;
	margin-top: 0.75rem;
}
.skills .label {
	font-size: 1rem;
	font-weight: 600;
	color: var(--primary);
}
.skills .value {
	margin-top: 0.15rem;
	font-size: 0.75rem;
	line-height: 1.25rem;
}

.skills a {
	color: var(--primary);
	text-decoration: none;
	font-weight: bold;
}

.box {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	background: url('./trees.webp') center center no-repeat;
	background-size: cover;
	z-index: 1;
	overflow: hidden;
}

.box .smoke {
	position: absolute;
	top: -10%;
	left: -40%;
	transform: translate3d(0, 0, 0) rotate(0.01deg);
	width: 160%;
	height: 120%;
	background: url('./smoke-min.png') center center no-repeat;
	background-size: cover;
	z-index: -10;
	opacity: 1;
	animation: smokebg 60s infinite alternate;
}

@keyframes smokebg {
	25% {
		transform: translate3d(100px, 0, 0) rotate(0.01deg);
   }
	50% {
		transform: translate3d(75px, -25px, 0) rotate(0.01deg);
   }
	75% {
		transform: translate3d(45px, 30px, 0) rotate(0.01deg);
   }
	100% {
		transform: translate3d(25px, -15px, 0) rotate(0.01deg);
   }
}


@media only screen and (min-width: 640px) { 
	.card {
		max-width: calc(var(--card-size) * 1.586);	
		grid-template-columns: 40% auto;
		/* height: var(--card-size); */
	}

	.card-avatar {
		place-items: center;
	}
}


