@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500&display=swap');

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  --background: #474a4b;
  --primary: #ff1ead;
  --secondary: #1effc3;
  --card-size: 900px;
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
  padding: 1rem;
  background: var(--background);
  font-family: 'Source Code Pro', monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  width: 100%;
  align-items: start;
  border-radius: 0.75rem;
  background: #1a1a1a;
  display: grid;
  grid-template-columns: 100%;
  color: white;
  align-items: center;
  position: relative;
}

.card:hover {
  box-shadow: 0 32px 80px 14px rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.card-details {
  padding: 1rem;
  height: 100%;
}

a {
  color: var(--primary);
}

.occupation {
  font-weight: 600;
  color: var(--primary);
}

.card-avatar {
  display: grid;
}

.card-avatar img {
  padding: 1rem 1.5rem;
  object-fit: contain;
}

svg {
  fill: white;
  width: 65%;
}

.card-about {
  margin-top: 1rem;
  display: grid;
  grid-auto-flow: column;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.item .value {
  font-size: 1rem;
}

.item .label {
  margin-top: 0.15rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--primary);
}

.skills {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
}

.skills .label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
}

.skills .value {
  margin-top: 0.15rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.skills a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

.box {
  max-width: 1500px;
  z-index: 1;
  width: 100%;
}


@media only screen and (min-width: 640px) {
  .card {
    grid-template-columns: 50% auto;
  }
}
